<!DOCTYPE html>
<html lang="en" class="hide-scrollbar">

<head>
    <%- include('../partials/header'); %>
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/assets/css/lib/splide.css"> -->
    <link rel="stylesheet" href="/assets/css/events.css">
    <!-- JS -->
    <!-- <script src="/assets/js/lib/splide.js" defer></script> -->
    <!-- <script src="/assets/js/events.js" defer></script> -->
</head>

<body>
    <%- include('../partials/navbar'); %>
    <div id="scroller__body" class="h-[100svh] w-full overflow-y-auto overflow-x-hidden hide-scrollbar">
      <img src="/assets/images/svg/texture-1.svg" class="absolute inset-0 h-full w-full object-cover -z-10 opacity-20" alt="">
        <section id="page1" class="bg-black-light pt-24 flex justify-center items-center">
          <h1 class="text-white font-semibold" style="font-size: clamp(3.5rem,6vw + 1rem,5rem)">Events</h1>
        </section>
        <section id="events" class="relative mt-16 flex flex-col gap-y-8">
          <% if(data.length > 0) {%>
            <% data.forEach(event=>{%>
              <div class="card">
                <div class="card__img">
                  <img src="<%= event['poster']%>" alt="">
                </div>
                <div class="card__info">
                  <p class="card__info__heading">
                    <%= event['name']%>
                  </p>
                  <p class="card__info__text">
                    <%= event['detail']%>
                  </p>
                  <div class="card__info__bnt">
                    <% if(event['button-1-link']) {%>
                    <a href="<%= event['button-1-link']%>" class="border border-black rounded font-overpass flex justify-center items-center px-4 py-2 w-fit gap-x-2 mx-auto">
                      Discover More
                    </a>
                    <%}%>
                    <% if(event['button-2-link']) {%>
                    <a href="<%= event['button-2-link']%>" class="border bg-purple-400 text-white border-black rounded font-overpass flex justify-center items-center px-4 py-2 w-fit gap-x-2 mx-auto">
                      Register Now
                    </a>
                    <%}%>
                  </div>
                </div>
              </div>
            <%})%>
          <%}else{%>
            <div class="h-[50svh] flex justify-center items-center font-bold">
              <h1 class="text-5xl">No New Events</h1>
            </div>
          <%}%>
        </section>
        <%- include('../partials/footer'); %>
    </div>
</body>

</html>